@charset "utf-8";
/* 使用重置样式表 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;    
}
body{
    line-height:1;
    font-family: '微软雅黑'; 
    width: 100%;
    height: 100%;   
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

html,body{
     height: 100%;
}

ol,ul{
    list-style:none;
}
blockquote, q{
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content:none;
}

 
/* remember to define focus styles! */
:focus{
    outline:0;
}
/* remeber to highlight inserts somehow */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

/* tables still need 'cellspacing="0" in the markup' */
table{
    border-collapse:collapse;
    border-spacing:0;
}


/*formal style begin*/

/*login & registration form style*/
header{
    background: #2CADFA;
}

.rl{
    float: right;
    width: 140px;
}

.register,.login,.rl span{ 
    color: #ffffff;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

.background{
    background: rgb(0,0,0);
    opacity: .4;
    width: 100%;
    min-height: 100%;
    z-index: 998;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.login-form form p,.contact-form p{
    text-align: center;
}

.contact-form p{
  line-height: 30px;
}

.cont{
    margin-top: 60px;
}


.register-form,.login-form,.contact-form{
  width: 500px;
  height: 300px; 
  z-index: 999;
  position: absolute;
  top: 18%;
  left: 30%;
  border-radius: 15px;
  background: #FFF2F2;
  display: none;
}

.regis,.log{
   margin-top: 20px;
   margin-left: 20px;
}

.regis p,.log p{
    margin-top: 15px;
}

.regis p input,.log p input{
    width: 300px;
    height: 25px;
    border-radius: 15px; 
}

.regis button,.log button{
    width: 100px;
    height: 35px;
    background: #ffffff;
    font-family: "微软雅黑"; 
    margin-left: 180px;
    margin-top: 20px;
    border:1px solid #aaaaaa;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out; 
    cursor: pointer;
}

.regis button:hover,.log button:hover{
    background: #2CADFA;
    border: 0;
     color: #ffffff;
}

.close{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
}

.close:hover{
    transform:rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

/*login & registration form style end*/

.index-logo img{
         margin:0 14% 2% ;
         width: 70%;
}
 
.logo img{
     margin-left: 3%;
}

.welcome{
    position: absolute;
    right: 10px;
    top: 15px;
    color: #ffffff;
}

.menu {
    height: 40px;
    width: 80%;
    margin:0 auto;
} 
 
.link{ 
    display: block;
    text-decoration: none;
    color: #ffffff;  
    width: 16%;
    line-height: 40px;
    float: left;
    text-align: center;
    
}

.link:hover{
  
    background: #ffffff;
    color: #2CADFA;
    cursor: pointer;
}

/*second menu start*/
.expand{
    width: 100%; 
    height:  0px;   
    position: relative; 
    background: #ffffff; 
    border-bottom: 1px solid #2CADFA;
    border-radius: 0 0 15px 15px;  
    overflow: hidden;  
}

.expandlist{
    width: 600%;
    height: 40px;     
}

.expand-div{
    width: 16.66%; 
    text-align: center;
    float: left;   
} 

.expand-div a{
    text-decoration: none;
    color: #2CADFA;
    line-height: 40px;
} 

.close-btn{
    width: 15px;
    height: 12px;
    background:#ffffff url("../img/close-btn.png") center no-repeat;
    position: absolute; 
    left: 49.5%;
    top: 30px;
    cursor: pointer;
}
/*second menu ends*/

#container{
    width: 960px;
    position: relative;
    margin:0 auto; 
    margin-top:3%; 
}

/*billboard */
.billboard { 
    height: 250px;
    width: 500px;
    border: 1px solid #2CADFA;
    border-radius: 15px; 
    float: left;
    overflow: hidden;
}

.title,.r-title{
    color: #ffffff;
    background: #2CADFA; 
    padding: 8px 0;
    border-radius: 15px 15px 0 0;
}

.title p,.r-title span {
    margin-left: 15px;
}

 

.title span {
    float: right;
    margin-right: 10px;
}

.title span a{
    color: #ffffff;
    text-decoration: none;
}

 

.content ul li{
    line-height: 30px;
    border-bottom: 1px dashed #2CADFA; 
}

 

.content ul li a{
    text-decoration: none;
    color: #000000;
    margin-left: 20px;

}

.content ul li span{
    float: right;
    margin-right: 20px;
}

.box{  
    position: relative;
    min-height: 100%;
}

.main{ 
    padding-bottom: 150px;
}

/*daily question area*/
.daily-q{   
    height: 250px;
    width: 300px;
    border: 1px solid #2CADFA;
    border-radius: 15px;
    float: right;
    overflow: hidden;
    position: relative; 
}


.ques {
    width: 100%;
    height: 150px;
   line-height: 25px;
   margin-left: 5px;
   padding-bottom: -5px; 
}

.ques span {
    width: 100%;
    height: 150px;
    overflow: hidden; 
}

.daily-q button{ 
    border: 0;
    border-radius: 5px;
    background: #2CADFA;
    color: #ffffff;
    box-shadow: 5px 5px 5px #888888;  
    position: absolute;
    bottom: 10px;
    left: 70px;
}


.daily-q button a:link,.daily-q button a:visited{
    color: #ffffff;
    text-decoration: none;
}
/*secondary page side menu bar  */

.sidebar{ 
    position: fixed;  
    width: 250px;
    height: 100%;  
    z-index: 999;
    background: #2CADFA;   
    display: inline-block;
}

.sidebar img,.sidebar ul{

   margin-top: 20px;
}

.sidebar ul li{
    width:  250px;
    height: 35px;  
    float: left;
    line-height: 35px;
    color: #ffffff; 
    cursor: pointer;
    background: url(../img/point.png) no-repeat 170px;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out; 
    position: relative;
}

.sidebar ul li span,.sidebar ul li a{
    margin-left: 25px; 
    text-decoration: none;
    color: #ffffff;
}
 
.sidebar ul li:hover{ 
     background-position: 200px;
     background-color: #4BB6F6;
}

.sidebar ul li ul{ 
    position: absolute;
    width: 200px;
    left: 250px;
    top: -20px; 
    display: none; 
}

.sidebar ul li:hover ul{
    display: block; 
}
 
.sidebar ul li ul li{
    background: #4BB6F6;   
}

.sidebar ul li ul li a{ 
    color: #ffffff; 
    text-decoration: none;
    margin-left: 10px;
}

.foote{
    color: #ffffff;   
    font-size: 10px;
    margin-left: 15px;
    position: absolute;
    bottom: 3%; 
}

.foote p{
    text-align: left;
    line-height: 20px;
}

.foote a{
    text-decoration: none;
    color: #ffffff;
}

/*side bar menu style ends*/

/*secondary page style main content style start*/

.box{
    position: relative;
}

.content-area{
    position: relative; 
    left: 280px ;
    right: 10px;  
    top: 20px;  
    width: 75%;  
}

.content-list{
    display: block; 
}

.page-title{
   font-size: 32px;
   border-bottom: 3px solid #2CADFA;
   line-height: 45px;
}

.content-list ul li{ 
    border-bottom: 1px dashed #2CADFA;
}

.content-list ul li a {
   text-decoration: none;
    color: #000000;
    margin-left: 10px;
    line-height: 45px;
}

.content-list ul li span{
    float: right;
    margin-right: 10px;
     line-height: 45px;
}

/*paging style */

.pages{
    margin-top: 20px;   
    display: block;
    margin-left: 35%;
}

.pages ul li{
    float: left; 
    margin-left: 5px;
    }
 
 
.form-title{
    font-size: 25px; 
    text-align: center;
}

.article-title {
   border-bottom: 3px solid #2CADFA;
   padding-bottom: 5px;
}

.a-title {
    margin-left: 50px;
    font-size: 28px;

}

 .date,#count{
    float: right;
    margin-right: 50px; 
 }
.article-content  { 
    width: 90%;
    padding-top: 15px;
    display: block;
    margin: 0 auto;

}


.article-content p{
   line-height: 30px; 
}

.img{
    width: 100%; 
}

.article-content img{  
    display: block;
    margin: 0 auto;
}

 
 
.download{
    margin-top: 20px;
    margin-left: 50px;
}

.download a{
    text-decoration: none;
    color: #000000;
    line-height: 25px;

}

.form h1{
   text-align: center;
}

.form p{
    line-height: 40px;  
}

.form p input{
    border-radius: 5px; 
}

.photo{
    float: right;
}



#imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}

.submit {
    width: 200px;
    height: 50px;  
    background: rgba(255,255,255,1);
    font-family: "微软雅黑";
    font-size: 18px;
    border-radius: 5px;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out; 
    margin-left: 35%;
    cursor: pointer;
    margin-top: 20px;
} 

.test { 
    width: 100%;
    line-height: 30px;
}

  .choice{ 
    margin-top: 5px;
}

.test input{  
    margin-left: 50px;
}
 
.ms button,.access button,#check button{
    width: 200px;
    height: 50px;  
    float: left;
    background: #ffffff;
    border-radius: 5px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000000;
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out; 
    cursor: pointer;
    margin-left: 20px; 
}

#check button{
    margin-top: 20px;
}

.submit:hover,.ms button:hover,.access button:hover,#check button:hover{ 
     background: #2CADFA;
     color: #ffffff;
     border: 0; 
}

.choice-button{
    margin-left:25%;
    padding-top: 15%;
}
 
#check,#return{
    width: 270px;
    height: 100px;
    display: block;
    margin: 0 auto; 
    margin-top: 50px;
}

#return{
    color: red;
}

#check input{
    width: 150px;
    border-radius: 5px; 
}

#check p,#return p{
    line-height: 40px;
}

/*the fixed style link in the index page*/
.side-nav{
    position: fixed;
    right:-1px;
    bottom: 22%; 
    width: 70px;
    height: 210px;
}

#side1,#side2,#side3{
    
    width: 100%;
    height: 70px; 
    
}
 
#side1,#side2{
    border-bottom: 1px solid #f6f0f0 ;
}

#side1{
    background:#2CADFA url("../img/inform.png") center no-repeat;
}

#side1:hover{
    background:#2CADFA url("../img/inform-w.png") center no-repeat;
}

#side2{
    background:#2CADFA url("../img/certificate.png") center no-repeat;
}

#side2:hover{
    background:#2CADFA url("../img/certificate-w.png") center no-repeat;
}

#side3{
    background:#2CADFA url("../img/contact.png") center no-repeat;
}

#side3:hover{
    background:#2CADFA url("../img/contact-w.png") center no-repeat;
}

/*the button which back to the top of the page*/

#back-to-top{
    width: 58px;
    height: 42px;
    background: url(../img/btn_top.png);
    position: fixed;
    right: 40px;
    bottom: 120px;
    display: none;
    cursor: pointer;
}

/*set the test time */

#timeOut{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000000;
    font-size: 25px;
    color: red;
    
}

/*footer style ends*/

footer{  
    position: absolute;
    bottom: -8%;
    background: #2CADFA;
    height: 92px;
    width: 100%;   
    padding-top: 10px;
}

.foot{
    width: 960px;
    margin: 0 auto;
}

.state{  
    float: left; 
    margin-right: 30px;
}

.state p{
    line-height: 20px; 
    color: #ffffff;
    font-size: 15px;
}


.friendly-link{
    float: left;   
    margin-top: 80px;  
    font-size: 14px;  
    width: 100%; 
    border-top: 1px solid #8A8D91;  

}

.friendly-link span { 
    display: inline-block;
    width: 15%;
     color: #8D8A91;   
     line-height: 50px;   
     text-align: center;

}

.friendly-link span a{
    text-decoration: none;
     color: #8D8A91; 
}

.friendly-link span a:hover{ 
     color: #2CADFA; 
}